<!-- <header class="b-topBar">
	<div class="container wow slideInDown" data-wow-delay="0.7s">
		<div class="row">
			<div class="col-md-4 col-xs-6">
				<div class="b-topBar__addr">
					<span class="fa fa-map-marker"></span>
					202 W 7TH ST, LOS ANGELES, CA 90014
				</div>
			</div>
			<div class="col-md-2 col-xs-6">
				<div class="b-topBar__tel">
					<span class="fa fa-phone"></span>
					1-800- 624-5462
				</div>
			</div>
			<div class="col-md-6 col-xs-6">
				<nav class="b-topBar__nav">
					<ul *ngIf="!loggedInUser || ( loggedInUser && !loggedInUser.email)">
						<li><a href="#" routerLink="/dealer/register">Register</a></li>
						<li><a href="#" routerLink="/dealer/login">Login</a></li>
					</ul>
					<ul *ngIf="loggedInUser && loggedInUser.email">
						<li>
							<button style="padding: 0px 30px;background-color: transparent;border: transparent;text-transform: uppercase;color: red;" (click)="doLogout()"><b>Logout</b></button>
						</li>
						<li>
							<a href="#" routerLink="/dealer/submit-car"><b>Dashboard</b></a>
						</li>
						
					</ul>
				</nav>
			</div>			
		</div>
	</div>
</header> --><!--b-topBar-->

<nav class="b-nav">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-xs-4">
				<div class="b-nav__logo wow slideInLeft" data-wow-delay="0.3s">
					<h3><a  href="">Auto<span>Club</span></a></h3>
					<h2><a  href="">AUTO DEALER TEMPLATE</a></h2>
				</div>
			</div>
			<div class="col-sm-9 col-xs-8">
				<div class="b-nav__list wow slideInRight" data-wow-delay="0.3s">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse navbar-main-slide" id="nav">
						<ul class="navbar-nav-menu">							
							<li><a href="" routerLink="/">Home</a></li>
							<li><a  href="">About</a></li>
							<li><a  href="">Services</a></li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle='dropdown' href="#">Blog <span class="fa fa-caret-down"></span></a>
								<ul class="dropdown-menu h-nav">
									<li><a  href="">Blog 1</a></li>
									<li><a  href="">Blog 2</a></li>
									<li><a  href="">Page 404</a></li>
								</ul>
							</li>
							<li><a href="" routerLink="/cars/listing">Cars</a></li>
							<li><a  href="">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav><!--b-nav-->